{% extends 'base.html.twig' %}

{% block title %}Création d'un cas marquant{% endblock %}

{% block body %}

	{% include "_partials/_affichage_msg_flash.html.twig" %}

	<div class="container-fluid p-5">
		{{form_start(form)}}

		{{form_end(form)}}

	</div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}